<h2 class="text-center"><span class="label label-primary">Your Debts</span></h2>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Creator</th>
        <th>Description</th>
        <th>Debt</th>
        <th>Created At</th>
        <th>Until</th>
        <th>State Request</th>
      </tr>
    </thead>
    <tbody>
    <% if @debts %>
      <% @debts.each do |debt| %>
        <% if debt.state != 'Paid' %>
          <tr>
            <td><%= debt.expenditure.owner.name %></td>
            <td><%= debt.expenditure.description %></td>
            <td><%= debt.debt %></td>
            <td><%= time_ago_in_words(debt.expenditure.created_at) %></td>
            <td><%= l debt.expenditure.until, format: :long %></td>
            <td>
              <% if debt.state == 'Request sent' %>
                <h4><span class="label label-warning"><%= debt.state %></span></h4>
              <% elsif debt.state == 'Waiting' %>
                <h4><span class="label label-danger"><%= debt.state %></span></h4>
                <%= link_to  confirm_payment_expenditure_user_path(debt), method: :post, class: 'btn btn-sm btn-success' do %>
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Send
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
