<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Debt</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
    <% @expenditure.expenditure_users.each do |exp| %>
      <tr>
        <td> <%= exp.user.name %></td>
        <td> <%= exp.debt %></td>
        <td>
          <h4>
            <% if exp.state == 'Waiting' %>
              <span class="label label-danger"><%= exp.state %></span>
            <% elsif exp.state == 'Request sent' %>
              <span class="label label-warning"><%=exp.state %></span>
            <% elsif exp.state == 'Paid' %>
              <span class="label label-success"><%= exp.state %></span>
            <% end %>
          </h4>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
